.about-group {
    gap: 2rem;
    margin-top:-2rem;
}

.about-title {
    text-shadow:0rem 0rem 1.5rem #FFE9D7;
}

/* === media queries === */

/* small */
@media (min-width: 580px) {
    .about-group {
        gap: 0rem;
        margin-top:-3rem;
    }
}

/* medium */
@media (min-width: 768px) {
    .paragraph {
        /* padding: top, right, bottom, left */
        padding: 0rem 4rem 0rem 4rem;
    }
    .about-group {
        gap: 0rem;
        margin-top:-6rem;
    }
}

/* large */
@media (min-width: 1024px) {
    .paragraph {
        /* padding: top, right, bottom, left */
        padding: 0rem 6rem 0rem 6rem;
    }
    .about-group {
        gap: 0rem;
        margin-top:-10rem;
    }
}