.jumbotron {
    background-image:url("/static/images/wehack-test background2.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}

.jumbo-group {
    /* flex */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin: top, right, bottom left*/
    margin: 2rem 0rem 0rem 0rem;
    gap:0.5rem;
}

.jumbo-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    /* margin: top, right, bottom left*/
    margin: 1rem 0rem 0rem 0rem;
    gap:1.3rem;
}

.jumbo-title {
    text-shadow: 0rem 0rem 3rem white;
}


/* === media queries === */

/* small */
@media (min-width: 580px) {
    .jumboImg-container {
        margin-right:0rem;
    }
    .jumboText-container {
        margin-left:0rem;
    }
}

/* medium */
@media (min-width: 768px) {
    .jumboImg-container {
        margin-right:0rem;
    }
    .jumboText-container {
        margin-left:0rem;
    }
    .jumbo-group {
        /* margin: top, right, bottom left*/
        margin: 0rem 3rem 0rem 0rem;
    }
}

/* large */
@media (min-width: 1024px) {
    .jumboImg-container {
        margin-right:-5rem;
    }
    .jumboText-container {
        margin-left:-5rem;
    }
    .jumbo-buttons {
        /* margin: top, right, bottom left*/
        margin: 2rem 0rem 0rem 0rem;
    }
    .jumbo-group {
        /* margin: top, right, bottom left*/
        margin: 0rem 3rem 0rem 0rem;
    }
    .jumbotron {
        gap:6rem;
    }
}

