summary {
    font-family:var(--font-inknut-antiqua);
}
summary::after {
    content: '\002B';
    color: #4A3628;
    display: flex;
    align-items:start;
    transition: 0.2s;
    font-weight:bolder;
}
  
summary::-webkit-details-marker {
    display: none;
}


details {
    padding: 0.5rem;
    background-color: #FFE9D7;
    border-radius: 5px;
    
}
details:hover {
    box-shadow: 0rem 0rem 2rem #ffe9d7bb;
    transition: 0.4s ease-in-out;
}
  
details[open] summary {
    background: #FFE9D7;
    color:#4A3628;
}

details[open] summary:after{
    content: "\00D7";
}
  
details[open] .panel {
    background: #FFE9D7;
    color:#4A3628;
    padding: .5em 1em;
}