.FAQ-title {
    text-shadow: 0rem 0rem 3rem white;
}

.drop-down-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: stretch;
    flex-wrap: wrap;
    width:100%;
}

.column-left, .column-right {
    /* margin:0rem 0rem 0.5rem 0rem; */
    display:flex;
    flex-direction: column;
    gap:2rem;
    /* margin: 10px 0;
    padding: 0 10px; */
    /* box-sizing: border-box; */
}
