nav {
    position:fixed;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem 1rem 2rem;
    z-index:2;
    background-color:transparent;
    backdrop-filter: blur(1rem);
    top:0;
    width:100%;
}

nav .collapse-menu {
    display: flex;
    z-index: 1;
    margin:0rem 5rem 0rem 0rem;
    /* background-color:#755642; */
}

/* style li components in navbar */
nav .collapse-menu li {
    display:flex;
    /* align-items: center;
    justify-content: center; */
    padding: 1rem;
    z-index: 10000;
    color:#FFE9D7;
}
 /* style link in navbar */
nav .collapse-menu li a {
    padding:0.5rem;
    display:block;
}
nav .collapse-menu li a:hover {
    /* background-color:#4A3628;
    border-radius:1rem; */
    cursor: pointer;
    text-shadow: 0rem 0rem 1rem white;
    transition: 0.3s ease-in-out;
}
input[type=checkbox] {
    display: none;
}
.hamburger {
    display:none;
    user-select: none;
}
.mlh-trust-badge {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 6vw;
    z-index: 1;
    margin:0rem 1rem 0rem 0rem;
}

/* === media queries === */
@media (max-width: 930) {
    .mlh-trust-badge {
        width: 11vw;
    }
}

/* desktop */
@media (max-width: 910px) {
    .mlh-trust-badge {
        width: 11vw;
    }
    nav .collapse-menu {
        display: none;
        z-index:2;
    }

    input[type=checkbox]:checked~.collapse-menu {
        display: block;
        z-index: 1; 
        top:0;
        right:0;
        padding:3rem 0rem 2rem 0rem;
        width:100%;
    }
    .hamburger {
        display: block;
        font-size:2rem;
        z-index:2;
        top:0;
        right:0;
        color:#FFE9D7;
        /* padding:0.5rem 2rem 0rem 0rem; */
        margin:0rem 7rem 1rem 0rem;
    }
    .hamburger:hover {
        cursor: pointer;
        filter: drop-shadow(0rem 0rem 0.6rem white);
        transition:0.3s ease-in-out;
    }
}

@media (max-width: 900px) {
    .mlh-trust-badge {
        width: 11vw;
    }
    nav .collapse-menu {
        display: none;
        z-index:2;
    }

    input[type=checkbox]:checked~.collapse-menu {
        display: block;
        z-index: 1; 
        top:0;
        right:0;
        padding:3rem 0rem 2rem 0rem;
        width:100%;
    }
    .hamburger {
        display: block;
        font-size:2rem;
        z-index:2;
        top:0;
        right:0;
        color:#FFE9D7;
        /* padding:0.5rem 2rem 0rem 0rem; */
        margin:0rem 7rem 1rem 0rem;
    }
    .hamburger:hover {
        cursor: pointer;
        filter: drop-shadow(0rem 0rem 0.6rem white);
        transition:0.3s ease-in-out;
    }
}

@media (max-width: 750px) {
    .mlh-trust-badge {
        width: 16vw;
    }
    nav .collapse-menu {
        display: none;
        z-index:2;
    }

    input[type=checkbox]:checked~.collapse-menu {
        display: block;
        z-index: 1; 
        top:0;
        right:0;
        padding:3rem 0rem 2rem 0rem;
        width:100%;
    }
    .hamburger {
        display: block;
        font-size:2rem;
        z-index:2;
        top:0;
        right:0;
        color:#FFE9D7;
        /* padding:0.5rem 2rem 0rem 0rem; */
        margin:0rem 7rem 1rem 0rem;
    }
    .hamburger:hover {
        cursor: pointer;
        filter: drop-shadow(0rem 0rem 0.6rem white);
        transition:0.3s ease-in-out;
    }
}



@media (max-width: 580px) {
    .mlh-trust-badge {
        width:15vw;
    }
    nav .collapse-menu {
        display: none;
        z-index:2;
    }

    input[type=checkbox]:checked~.collapse-menu {
        display: block;
        z-index: 1; 
        top:0;
        right:0;
        padding:3rem 0rem 2rem 0rem;
        width:100%;
    }
    .hamburger {
        display: block;
        font-size:2rem;
        z-index:2;
        top:0;
        right:0;
        color:#FFE9D7;
        /* padding:0.5rem 2rem 0rem 0rem; */
        margin:0rem 5rem 1rem 0rem;
    }
    .hamburger:hover {
        cursor: pointer;
        filter: drop-shadow(0rem 0rem 0.6rem white);
        transition:0.3s ease-in-out;
    }
}